.hero {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;

    @media screen and (max-width:500px) {
        height: 215px;
    }

    img {
        width: inherit;
    }

    p,
    h2 {
        position: absolute;
        left: 20px;
        color: #fff;
    }

    p {
        top: 100px;
    }

    h2 {
        top: 125px;
    }
}