@use 'bootstrap' as *;
@use 'nav';
@use 'about';
@use 'contact';
@use 'pdf-viewer';
@use 'footer';
@use 'welcome';
@use 'carousel';
@use 'tender';

$main-slot-bg: #fff;
$primary-text-color: #3e5bae;
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
header {
    margin: 5rem;
}

.main-slot {
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: $main-slot-bg;
    overflow: hidden;
}

.subtitle,.title{
    color: $primary-text-color;
    font-size: 20px;
    font-weight: 600;
}

.title{
    font-size: 23px;
}

.contact-with-icons{
    img{
        width: 100%;
        max-width: 100px;
        margin: 20px auto;
    }
}

a.link{
    text-decoration: none;
    color: $primary-text-color;
}
ul.no-style{
    list-style: none;
    padding: 0;
}